@model NuCloudWeb.Models.Group

@{
    ViewData["Title"] = "Group";
}

<div class="text-center">
    <h3>@String.Format("{0} {1}", Model.Cod, Model.Name)</h3>

    <a a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="AddMember" asp-route-cod="@Model.Cod">
        <h6>Add member</h6>
    </a>
    <style>
        div {
            padding: 10px;
        }
    </style>
    <a a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="AssignMonitor" asp-route-cod="@Model.Cod">
        <h6>Assign monitor</h6>
    </a>

    <a a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="AssignLeader" asp-route-cod="@Model.Cod">
        <h6>Select leader</h6>
    </a>

    <a a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="MoveMember" asp-route-cod="@Model.Cod">
        <h6>Move member</h6>
    </a>

    <h6>@String.Format("Coach: {0} {1}", Model.Coach.Name, Model.Coach.LastName)</h6>

    <div class="text-center">
        <table class="border:1px solid black; center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
            <thead>
                <tr>
                    <th scope="col">Leaders</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @foreach (Member n in Model.Leaders) {
                            <a a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Member" asp-route-ced="@n.Ced">
                                @String.Format("{0} {1}", n.Name, n.LastName)
                            </a>
                        }
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <table class="border:1px solid black; center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
            <thead>
                <tr>
                    <th scope="col">Members</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @foreach (Member n in Model.Members) {
                            <a a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Member" asp-route-ced="@n.Ced">
                                @String.Format("{0} {1}", n.Name, n.LastName)
                            </a>
                        }
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

</div>