@model NuCloudWeb.Models.Chief

@{
    ViewData["Title"] = "Member";
}

<h2>@String.Format("{0} {1}", Model.Name, Model.LastName)</h2>
<style>
    .flex_hor {
        display: flex;
        flex-direction: row;
        margin-right: 5px;
    }
</style>
<div class="login-box">
    <div class="text-center">
        <div class="flex_hor">
            <h6>ID Number: </h6>
            <p>@Model.Ced</p>
        </div>
        <div class="flex_hor">
            <h6>Phone Number: </h6>
            <p>@Model.Phone</p>
        </div>
        <div class="flex_hor">
            <h6>Email: </h6>
            <p>@Model.Email</p>
        </div>
        <div class="flex_hor">
            <h6>Period: </h6>
            <p>@String.Format(" {0}-{1}", Model.Start, Model.End)</p>
        </div>
    </div>
</div>
