@model NuCloudWeb.Models.Branch

@{
    ViewData["Title"] = "Branch";
}

<div class="text-center">
    <h3>@String.Format("{0} {1}", Model.Cod, Model.Name)</h3>

    <a a class="nav-link text-dark" asp-area="" asp-controller="Branch" asp-action="AddGroup" asp-route-cod="@Model.Cod">
        <h6>Add group</h6>
    </a>

    <a a class="nav-link text-dark" asp-area="" asp-controller="Branch" asp-action="AddMember" asp-route-cod="@Model.Cod">
        <h6>Add member</h6>
    </a>

    <h6>Groups</h6>
    @foreach (Group n in Model.Children) {
        <a a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="Group" asp-route-cod="@n.Cod">
            @String.Format("{0} {1}", n.Cod, n.Name)
        </a>
    }

    <h6>Members</h6>
    @foreach (Member n in Model.Members) {
        <a a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Member" asp-route-ced="@n.Ced">
            @String.Format("{0} {1}", n.Name, n.LastName)
        </a>
    }
</div>