@model NuCloudWeb.Models.Zone

@{
    ViewData["Title"] = "Zone";
}

<div class="text-center">
    <h3>@String.Format("{0} {1}", Model.Cod, Model.Name)</h3>

    <a a class="nav-link text-dark" asp-area="" asp-controller="Zone" asp-action="AddBranch" asp-route-cod="@Model.Cod">
        <h6>Add branch</h6>
    </a>


    <div class="text-center">
        <table class="border:1px solid black; center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
            <thead>
                <tr>
                    <th scope="col">Branches</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @foreach (Branch n in Model.Children)
                        {
                            <a a class="nav-link text-dark" asp-area="" asp-controller="Branch" asp-action="Branch" asp-route-cod="@n.Cod">
                                @String.Format("{0} {1}", n.Cod, n.Name)
                            </a>
                        }
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        div {
            padding: 10px;
        }
    </style>
    <div class="text-center">
        <table class="border:1px solid black; center" style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
            <thead>
                <tr>
                    <th scope="col">Members</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        @foreach (Member n in Model.Members)
                        {
                            <a a class="nav-link text-dark" asp-area="" asp-controller="Member" asp-action="Member" asp-route-ced="@n.Ced">
                                @String.Format("{0} {1}", n.Name, n.LastName)
                            </a>
                        }
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

</div>